*.fits binary linguist-generated
*.fit binary linguist-generated
*.fts binary linguist-generated
*.fit.gz binary linguist-generated
*.fits.gz binary linguist-generated
*.fts.gz binary linguist-generated
